<div class="task_table">
  <div class="task_column">
    <div class="table_header">
      Todo
    </div>
    <div class="task_list">
      <mat-card *ngFor="let task of todo">
        <mat-card-header>
            <mat-card-title>{{task.task}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{task.describe}}</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="task_column">
    <div class="table_header">
      Doing
    </div>
    <div class="task_list">
      <mat-card *ngFor="let task of doing">
        <mat-card-header>
            <mat-card-title>{{task.task}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{task.describe}}</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="task_column">
    <div class="table_header">
      Done
    </div>
    <div class="task_list">
      <mat-card *ngFor="let task of done">
        <mat-card-header>
            <mat-card-title>{{task.task}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{task.describe}}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>