<div class="iterations_content">
  <div class="iterations_sidebar">
    <div class="iteration_list_header">Iterations <button mat-mini-fab (click)="showButton()" >+</button></div>
    <mat-list *ngIf="iterations">
      <ng-container *ngFor="let iteration of iterations">
        <mat-list-item (click)="openTasksList(iteration._id)" >{{iteration.name}}</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
  <div class="iteration_main_content">
    <div class="buttons_block">
      <button mat-raised-button><mat-icon class="button_icon_size">home</mat-icon>Iterations</button>
      <button mat-raised-button>Add task</button>
      <button mat-raised-button>Backlog</button>
    </div>
    <div class="show_iteration_content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-add-iteration-form *ngIf="iterationModal" (isConfirm)="modalWindowsConfirm($event)" >
</app-add-iteration-form>