<div class="overlay">
  <mat-card class="modal_windows">
    <h3>{{title}}</h3>
    <form class="iteration_form">
      <mat-form-field class="name_iteration">
        <input matInput [(ngModel)]="name" name="nameIteration" placeholder="Iteration name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="startDateIter" name="startDateIter" [matDatepicker]="startDate" placeholder="Iteration start day">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="endDateIter" name="endDateIter" [matDatepicker]="endDate" placeholder="Iteration end day">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </form>
    <div class="iteration_buttons">
      <button mat-raised-button (click)="confirm()" >Save</button>
      <button mat-raised-button (click)="close()" >Cancel</button>
    </div>
  </mat-card>
</div>