.dashboard_header {
    width: 100%;
    height: 50px;
    background: #790e8b;
    color: white;
    box-shadow: 0 0 2px 1px rgb(121, 121, 121);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 999;
}

.dashboard_name {
    font-weight: bold;
}

.user_email {
    font-size: 14px;
    padding: 0 16px;
}